<div class="card">
    <div class="card-header">
        Simple Datatable
    </div>
    <div class="card-body">
        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">

            <br>
            <button class="btn btn-primary">Agregar empleado</button>
            
            <div class="dataTable-container">
                <table class="table table-striped dataTable-table" id="table1">
            <thead>
                <tr>
                    <th data-sortable="">
                        <a href="#" class="dataTable-sorter">Nombre</a>
                    </th>
                    <th data-sortable="">
                        <a href="#" class="dataTable-sorter">Email</a>
                    </th>
                    <th data-sortable="">
                        <a href="#" class="dataTable-sorter">Status</a>
                    </th>
                    
            </thead>
            <tbody>
                <tr>
                    <td>Graiden</td>
                    <td>vehicula.aliquet@semconsequat.co.uk</td>
                    <span class="badge bg-success">Active</span>
                </tr>
            </tbody>
        </table>
    </div>
</div>